#site-sidebar .form-select {
  max-width: 200px;
  min-width: 200px;
}

#content #views-exposed-form-uw-undergrad-award-search-block-page .form-select {
  max-width: 220px;
  min-width: 220px;
  max-height: 60px;
}

#site-sidebar .form-text {
  max-width: 200px;
  min-width: 200px;
}

#content #views-exposed-form-uw-undergrad-award-search-block-page .form-text {
  max-width: 215px;
  min-width: 215px;
}

#block-views-3c9c7b4e493ec9bd24bf4a1380bb32ce .views-exposed-widgets {
  margin-bottom: 1.5em;
}
